.checkbox {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  font-size: .875rem;

}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.checkbox label {
  display: flex;
}